Step 1: select small dataset from largedataset

In [2]:
import pandas as pd

# Load your original dataset
df = pd.read_csv("fraudTest.csv")

# Take only first 500 rows
df_small = df.head(500)

# Save it as a new file
df_small.to_csv("small_dataset.csv", index=False)

Step 2: show overview of small dataset

In [4]:
import pandas as pd

# Load your dataset
df = pd.read_csv("small_dataset.csv")

# Basic shape of the data
print("üßæ Dataset Shape:", df.shape)

# First 5 rows
print("\nüîç First 5 Rows:")
display(df.head())

# Info about columns and data types
print("\n‚ÑπÔ∏è Dataset Info:")
df.info()

# Summary statistics for numeric columns
print("\nüìä Summary Statistics:")
display(df.describe())

# Check for missing values
print("\n‚ùó Missing Values in Each Column:")
print(df.isnull().sum())

# Check for duplicate rows
print("\nüìã Number of Duplicate Rows:", df.duplicated().sum())

# Display column names
print("\nü™∂ Column Names:")
print(df.columns.tolist())

üßæ Dataset Shape: (500, 23)

üîç First 5 Rows:

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

‚ÑπÔ∏è Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             500 non-null    int64
 1   trans_date_trans_time  500 non-null    object
 2   cc_num                 500 non-null    int64
 3   merchant               500 non-null    object
 4   category               500 non-null    object
 5   amt                    500 non-null    float64
 6   first                  500 non-null    object
 7   last                   500 non-null    object
 8   gender                 500 non-null    object
 9   street                 500 non-null    object
 10  city                   500 non-null    object
 11  state                  500 non-null    object
 12  zip                    500 non-null    int64
 13  lat                    500 non-null    float64
 14  long                   500 non-null    float64
 15  city_pop               500 non-null    int64
 16  job                    500 non-null    object
 17  dob                    500 non-null    object
 18  trans_num              500 non-null    object
 19  unix_time              500 non-null    int64
 20  merch_lat              500 non-null    float64
 21  merch_long             500 non-null    float64
 22  is_fraud               500 non-null    int64
dtypes: float64(5), int64(6), object(12)
memory usage: 90.0+ KB

üìä Summary Statistics:

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,500.000000,5.000000e+02,500.000000,500.000000,500.000000,500.000000,5.000000e+02,5.000000e+02,500.000000,500.000000,500.0
mean,249.500000,4.959725e+17,56.728280,46975.388000,38.330236,-89.102195,1.138976e+05,1.371822e+09,38.335729,-89.078183,0.0
std,144.481833,1.422629e+18,114.971859,26456.632712,5.182050,12.786083,3.955188e+05,2.992537e+03,5.197076,12.807379,0.0
min,0.000000,6.041621e+10,1.010000,1257.000000,24.655700,-124.217400,4.300000e+01,1.371817e+09,24.306325,-124.888729,0.0
25%,124.750000,1.800563e+14,8.817500,25075.250000,34.043175,-95.775250,8.872500e+02,1.371819e+09,34.066343,-95.819081,0.0
50%,249.500000,3.531130e+15,32.560000,45518.500000,39.496400,-86.456150,3.472500e+03,1.371822e+09,39.498403,-86.497984,0.0
75%,374.250000,4.709443e+15,70.180000,70158.500000,41.744175,-80.170900,3.389125e+04,1.371824e+09,41.824420,-79.942822,0.0
max,499.000000,4.956829e+18,1881.530000,99160.000000,48.887800,-68.556500,2.906700e+06,1.371827e+09,49.681365,-69.150254,0.0

‚ùó Missing Values in Each Column:
Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

üìã Number of Duplicate Rows: 0

ü™∂ Column Names:
['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat', 'merch_long', 'is_fraud']

Step 3: Data Cleaning & Preprocessing

In [6]:
# Step 3: Data Preprocessing

import pandas as pd
from sklearn.preprocessing import LabelEncoder

# --- Load dataset (skip if already loaded) ---
df = pd.read_csv("small_dataset.csv")

# --- Drop unnecessary columns ---
drop_cols = [
    'Unnamed: 0', 'cc_num', 'first', 'last', 'street', 'city', 'state',
    'trans_num', 'unix_time', 'trans_date_trans_time'
]
df.drop(columns=drop_cols, inplace=True, errors='ignore')

# --- Handle missing values (if any) ---
df.fillna(method='ffill', inplace=True)   # Forward fill small missing data
df.fillna(method='bfill', inplace=True)   # Backward fill as backup

# --- Convert date of birth to AGE (numeric) ---
df['dob'] = pd.to_datetime(df['dob'], errors='coerce')
df['age'] = 2020 - df['dob'].dt.year
df.drop(columns=['dob'], inplace=True)

# --- Encode categorical columns ---
categorical_cols = ['merchant', 'category', 'gender', 'job']

for col in categorical_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])

# --- Define features (X) and target (y) ---
X = df.drop('is_fraud', axis=1)
y = df['is_fraud']

# --- Confirm final shape ---
print("‚úÖ Preprocessing Done!")
print("üßæ Dataset Shape after cleaning:", df.shape)
print("üß© Feature columns:", list(X.columns))
print("üéØ Target column:", y.name)

# --- Optional: Save preprocessed data ---
df.to_csv("cleaned_fraud_data.csv", index=False)

‚úÖ Preprocessing Done!
üßæ Dataset Shape after cleaning: (500, 13)
üß© Feature columns: ['merchant', 'category', 'amt', 'gender', 'zip', 'lat', 'long', 'city_pop', 'job', 'merch_lat', 'merch_long', 'age']
üéØ Target column: is_fraud

C:\Users\Zain Latif\AppData\Local\Temp\ipykernel_9212\535332243.py:17: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)   # Forward fill small missing data
C:\Users\Zain Latif\AppData\Local\Temp\ipykernel_9212\535332243.py:18: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)   # Backward fill as backup